p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    text-align: center;
    padding: 20px;
    background-image:url(double-bubble-dark.png);
    background-repeat:repeat;
}
#nudes-link{
    background-color: darkred;
    width: 10px;
    border:5 px solid white;
    padding: 3px;
    margin:2px;
    text-transform: capitalize;
    font-size: 30px;
}
#zitatgestaltung{ 
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    position:fixed;
    bottom:0 ;
    right: 0;
    width: 300px;
    border: 5px white;

}
.ueberschrift-gestaltung{
    font-size: 50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
   
}


.hobby-gestaltung{
    text-align: center;
    color:purple;
    border-style: dotted;
    border-width:5px;
    display:inline;
    font-size:35px;  
}


.navigations-gestaltung{
    border: 4px outset white;
    border-radius: 40px 40px 40px 40px;
    font-size: 20px;
    text-align:right;
    position:fixed;
    top: 0;
    right: 0;
}

div a:hover{
    color:green;
    font-family: Papyrus;
}
nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
section>p{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width:600px;
}

@keyframes h2text {
  10%   {background-color:red; }
  20%  {background-color:yellow; }
  30%  {background-color:blue }
  40%  {background-color:green;}
  50% {background-color:purple}
  60% {background-color:black}
  70% {background-color:pink}
  80% {background-color:orange}
  90% {background-color:grey}
  100% {background-color:red}
  }
h2+p{
  text-align: center;
  width:50%;
  padding:30px;
  margin-left: auto;
  margin-right: auto;
  animation-name:h2text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
h3+p{
  width:50%;
  padding:30px;
  margin-left: auto;
  margin-right: auto;
  animation-name:h2text;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
@keyframes runningheadline{
    0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0;}
}

h4+p{
    animation-name:runningheadline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#facebook-icon{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}

.Kontaktformular {
    padding: 16px;
  }

  input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  hr {
    border: 5px white ;
    margin-bottom: 25px;
  }
  .abschickenbtn {
    background-color:purple;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 50%;
  }
  .abschickenbtn:hover {
    color:red;
  }
  .picture{
    width:100%;
  }

.flexbox-row{
  display:flex;
  flex-direction:row;
}
  @media screen and (max-width:1024px){
    .flexbox-row{
      flex-direction:row;
    }
  }
    @media screen and (max-width:600px){
      .flexbox-column,.flexbox-row{
        flex-direction:column;
      }
    }
    a[class="aktuelleSeite"]{
      color:yellow;
    }
    
  
  





